{% extends 'base_page.html' %}

{% block title %}
    Все пользователи
{% endblock %}

{% block content %}
    <div id="friends" class="block-content clear_fix">
        {% include 'friend/header_friends_menu.html' %}
        <div id="friends_list" class="friends_list">
            <div id="list_content">
                <div class="friends_list_bl">
                    {% for user in all_users %}
                        <div class="friends_user_row clear_fix">
                            <div id="res213238245"></div>
                            <div class="friends_photo_wrap">
                                <a class="friends_photo _online" href="{% url 'account' pk=user.pk %}">
                                    <img class="friends_photo_img" alt="{{ user.get_full_name }}"
                                         src="{{ user.main_photo.url }}">
                                </a>
                            </div>
                            <div class="friends_user_info">
                                <div class="friends_field friends_field_title">
                                    <a href="{% url 'account' pk=user.pk %}">{{ user.get_full_name }}</a>
                                </div>
                                <div class="profile_info_row ">
                                    <div class="labeled">{{ user.birth_day }} {{ user.month_birth|lower }} {{ user.year_birth }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}