{% extends 'base_page.html' %}

{% block title %}
    Друзья
{% endblock %}

{% block content %}
    <div id="friends" class="block-content clear_fix">
        {% include 'friend/header_friends_menu.html' %}
        <div id="friends_list" class="friends_list">
            <div id="list_content">
                <div class="friends_list_bl">
                    {% for friend in all_friends %}
                        <div class="friends_user_row clear_fix">
                            <div id="res213238245"></div>
                            <div class="friends_photo_wrap">
                                <a class="friends_photo _online" href="{% url 'account' pk=friend.pk %}">
                                    <img class="friends_photo_img" alt="{{ friend.get_full_name }}"
                                         src="{{ friend.main_photo.url }}">
                                </a>
                            </div>
                            <div class="friends_user_info">
                                <div class="friends_field friends_field_title">
                                    <a href="{% url 'account' pk=friend.pk %}">{{ friend.get_full_name }}</a>
                                </div>
                                <div class="friends_field">{{ friend.date_of_birth }}</div>
                                <a href="/im/?sel={{ friend.pk }}" class="friends_field_act">Написать сообщение</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


