{% extends 'base_page.html' %}

{%block title%}
    {{user.get_full_name}}
{% endblock %}

{% block content %}
<div class="block-content" id="photos_all_block">
    <h2 class="page_block_h2">
        <div class="page_block_header clear_fix">
            <div class="page_block_header_extra_left _header_extra_left"></div>
            <div class="page_block_header_extra _header_extra"></div>
            <div class="page_block_header_inner _header_inner">
                <div class="ui_crumb">Мои фотографии<span class="ui_crumb_count">{{count_photo}}</span></div>
            </div>
        </div>
    </h2>
    <div class="photos_container_pretty_grid">
        <div id="photos_container_photos" class="photos_container clear_fix">
            <div class="photos_period_delimiter photos_period_delimiter_2019" data-year="2019">2019 год</div>
            <div class="photos_row_wrap" style="height: 230px;">
                {% for i in all_photo%}
                <div id="photo_row_483686337_456239432" data-id="483686337_456239432" class="photos_row "
                     style="background-image: url({{i.photo.url}}); width: 200px; height: 200px"
                     aria-label="Фотография">
                    <a href="{{i.photo.url}}"
                       onclick="if (cur.cancelClick) return (cur.cancelClick = false); return showPhoto('483686337_456239432', 'photos483686337', {img: this  }, event)"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}