<div class="page_block">
    <aside aria-label="Аудиозаписи">
        <div class="module clear audios_module audio_w_covers _module" id="profile_audios">
            <div class="header_right_link fl_r"></div>
            <a href="" class="module_header">
                <div class="header_top clear_fix">
                    <span class="header_label fl_l">Аудиозаписи</span>
                    <span class="header_count fl_l">0</span>
                </div>
            </a>
            <div class="module_body clear_fix">
{#                <div tabindex="0"#}
{#                     class="audio_row audio_row_with_cover _audio_row _audio_row_483686337_456239165 audio_can_add audio_has_thumb audio_explicit audio_row2"#}
{#                     data-full-id="483686337_456239165" onclick="return getAudioPlayer().toggleAudio(this, event)"#}
{#                     data-audio="[456239165,483686337,&quot;&quot;,&quot;WANTED U&quot;,&quot;Joji&quot;,251,0,0,&quot;&quot;,0,1090,&quot;module:483686337&quot;,&quot;[]&quot;,&quot;a1460db1a7422158e4\/\/230d723a4399bccc6a\/ae65828d6adcff857e\/\/3a7422c56d1b50a810\/35e033a60a19daa480&quot;,&quot;https:\/\/sun3-1.userapi.com\/c850724\/v850724537\/2ef4f\/HTZuuE6UDw4.jpg,https:\/\/sun3-4.userapi.com\/c850724\/v850724537\/2ef4d\/ZT1_vBN7e_E.jpg&quot;,{&quot;duration&quot;:251,&quot;content_id&quot;:&quot;483686337_456239165&quot;,&quot;puid22&quot;:12,&quot;_SITEID&quot;:276,&quot;vk_id&quot;:483686337,&quot;ver&quot;:251116},&quot;&quot;,[{&quot;id&quot;:&quot;9140436526259980868&quot;,&quot;name&quot;:&quot;Joji&quot;}],&quot;&quot;,[-2000764188,3764188,&quot;ce5aac951f97a80ec2&quot;],&quot;b6ce380dOM0JkomYzg&quot;,0,0,1]"#}
{#                     onmouseover="AudioUtils.onRowOver(this, event)" onmouseleave="AudioUtils.onRowLeave(this, event)">#}
{#                    <div class="audio_row_content _audio_row_content">#}
{#                        <button class="blind_label _audio_row__play_btn" aria-label="Воспроизвести "#}
{#                                onclick="getAudioPlayer().toggleAudio(this, event); return cancelEvent(event)"></button>#}
{##}
{#                        <div class="audio_row__cover"#}
{#                             style="background-image:url(https://sun3-1.userapi.com/c850724/v850724537/2ef4f/HTZuuE6UDw4.jpg)"></div>#}
{#                        <div class="audio_row__cover_back _audio_row__cover_back"></div>#}
{#                        <div class="audio_row__cover_icon _audio_row__cover_icon"></div>#}
{#                        <div class="audio_row__counter"></div>#}
{#                        <div class="audio_row__play_btn"></div>#}
{##}
{#                        <div class="audio_row__inner">#}
{#                            <div class="audio_row__performer_title">#}
{#                                <div onmouseover="setTitle(this)" class="audio_row__performers"><a#}
{#                                        href="/artist/9140436526259980868">Joji</a></div>#}
{#                                <div class="audio_row__title _audio_row__title" onmouseover="setTitle(this)">#}
{#                                    <span class="audio_row__title_inner _audio_row__title_inner">WANTED U</span>#}
{#                                    <span class="audio_row__title_inner_subtitle _audio_row__title_inner_subtitle"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="audio_row__info _audio_row__info">#}
{#                                <div class="audio_row__duration audio_row__duration-s _audio_row__duration">4:11</div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="audio_player__place _audio_player__place"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div tabindex="0"#}
{#                     class="audio_row audio_row_with_cover _audio_row _audio_row_483686337_456239164 audio_can_add audio_has_thumb audio_explicit audio_row2"#}
{#                     data-full-id="483686337_456239164" onclick="return getAudioPlayer().toggleAudio(this, event)"#}
{#                     data-audio="[456239164,483686337,&quot;&quot;,&quot;YEAH RIGHT&quot;,&quot;Joji&quot;,174,0,0,&quot;&quot;,0,1090,&quot;module:483686337&quot;,&quot;[]&quot;,&quot;16ef6b1d391105164d\/\/672ba0aae8aef13d31\/a94459730a83339951\/\/3b84adbfca41e1fb43\/2b88ba8f0c4ab074e8&quot;,&quot;https:\/\/sun3-1.userapi.com\/c850724\/v850724537\/2ef4f\/HTZuuE6UDw4.jpg,https:\/\/sun3-4.userapi.com\/c850724\/v850724537\/2ef4d\/ZT1_vBN7e_E.jpg&quot;,{&quot;duration&quot;:174,&quot;content_id&quot;:&quot;483686337_456239164&quot;,&quot;puid22&quot;:12,&quot;_SITEID&quot;:276,&quot;vk_id&quot;:483686337,&quot;ver&quot;:251116},&quot;&quot;,[{&quot;id&quot;:&quot;9140436526259980868&quot;,&quot;name&quot;:&quot;Joji&quot;}],&quot;&quot;,[-2000764188,3764188,&quot;ce5aac951f97a80ec2&quot;],&quot;5c4772b3XWtE_-_Z-A&quot;,0,0,1]"#}
{#                     onmouseover="AudioUtils.onRowOver(this, event)" onmouseleave="AudioUtils.onRowLeave(this, event)">#}
{#                    <div class="audio_row_content _audio_row_content">#}
{#                        <button class="blind_label _audio_row__play_btn" aria-label="Воспроизвести "#}
{#                                onclick="getAudioPlayer().toggleAudio(this, event); return cancelEvent(event)"></button>#}
{##}
{#                        <div class="audio_row__cover"#}
{#                             style="background-image:url(https://sun3-1.userapi.com/c850724/v850724537/2ef4f/HTZuuE6UDw4.jpg)"></div>#}
{#                        <div class="audio_row__cover_back _audio_row__cover_back"></div>#}
{#                        <div class="audio_row__cover_icon _audio_row__cover_icon"></div>#}
{#                        <div class="audio_row__counter"></div>#}
{#                        <div class="audio_row__play_btn"></div>#}
{##}
{#                        <div class="audio_row__inner">#}
{#                            <div class="audio_row__performer_title">#}
{#                                <div onmouseover="setTitle(this)" class="audio_row__performers"><a#}
{#                                        href="/artist/9140436526259980868">Joji</a></div>#}
{#                                <div class="audio_row__title _audio_row__title" onmouseover="setTitle(this)">#}
{#                                    <span class="audio_row__title_inner _audio_row__title_inner">YEAH RIGHT</span>#}
{#                                    <span class="audio_row__title_inner_subtitle _audio_row__title_inner_subtitle"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="audio_row__info _audio_row__info">#}
{#                                <div class="audio_row__duration audio_row__duration-s _audio_row__duration">2:54</div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="audio_player__place _audio_player__place"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div tabindex="0"#}
{#                     class="audio_row audio_row_with_cover _audio_row _audio_row_483686337_456239163 audio_can_add audio_has_thumb audio_explicit audio_row2"#}
{#                     data-full-id="483686337_456239163" onclick="return getAudioPlayer().toggleAudio(this, event)"#}
{#                     data-audio="[456239163,483686337,&quot;&quot;,&quot;Русский рэп&quot;,&quot;ЗАМАЙ&quot;,14,0,0,&quot;&quot;,0,1090,&quot;module:483686337&quot;,&quot;[]&quot;,&quot;e8ef26943e21269316\/\/e11435ae099fb8364d\/ea5261135ee8f7dfce\/\/412b5c703d25476d0f\/ca329b56ca9e9c4434&quot;,&quot;https:\/\/pp.userapi.com\/c837127\/v837127883\/64028\/x_rD5aR8U9Q.jpg,https:\/\/pp.userapi.com\/c837127\/v837127883\/64026\/J0LzabaKpgo.jpg&quot;,{&quot;duration&quot;:14,&quot;content_id&quot;:&quot;483686337_456239163&quot;,&quot;puid22&quot;:14,&quot;_SITEID&quot;:276,&quot;vk_id&quot;:483686337,&quot;ver&quot;:251116},&quot;скит&quot;,[{&quot;id&quot;:&quot;9156410873844704524&quot;,&quot;name&quot;:&quot;ЗАМАЙ&quot;}],&quot;&quot;,[-2000893042,1893042,&quot;2219d58ee5dcc7a193&quot;],&quot;f16dcc778orVADHiYA&quot;,0,0,1]"#}
{#                     onmouseover="AudioUtils.onRowOver(this, event)" onmouseleave="AudioUtils.onRowLeave(this, event)">#}
{#                    <div class="audio_row_content _audio_row_content">#}
{#                        <button class="blind_label _audio_row__play_btn" aria-label="Воспроизвести "#}
{#                                onclick="getAudioPlayer().toggleAudio(this, event); return cancelEvent(event)"></button>#}
{##}
{#                        <div class="audio_row__cover"#}
{#                             style="background-image:url(https://pp.userapi.com/c837127/v837127883/64028/x_rD5aR8U9Q.jpg)"></div>#}
{#                        <div class="audio_row__cover_back _audio_row__cover_back"></div>#}
{#                        <div class="audio_row__cover_icon _audio_row__cover_icon"></div>#}
{#                        <div class="audio_row__counter"></div>#}
{#                        <div class="audio_row__play_btn"></div>#}
{##}
{#                        <div class="audio_row__inner">#}
{#                            <div class="audio_row__performer_title">#}
{#                                <div onmouseover="setTitle(this)" class="audio_row__performers"><a#}
{#                                        href="/artist/9156410873844704524">ЗАМАЙ</a></div>#}
{#                                <div class="audio_row__title _audio_row__title" onmouseover="setTitle(this)">#}
{#                                    <span class="audio_row__title_inner _audio_row__title_inner">Русский рэп</span>#}
{#                                    <span class="audio_row__title_inner_subtitle _audio_row__title_inner_subtitle">скит</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="audio_row__info _audio_row__info">#}
{#                                <div class="audio_row__duration audio_row__duration-s _audio_row__duration">0:14</div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="audio_player__place _audio_player__place"></div>#}
{#                    </div>#}
{#                </div>#}
            </div>

        </div>
</div>