{% extends 'base_page.html' %}
{% load static %}


{% block content %}
    <div class="im-page js-im-page im-page_classic im-page_history-show" style="min-height: 686px; height: auto;">
        <div class="im-page--history page_block _im_page_history" style="min-height: 686px; position: relative; top: 0px;">
            <div class="im-page-history-w">
                <div class="im-page--chat-header _im_dialog_actions" id="im-page--chat-header _im_dialog_actions" style="transform: unset;">
                    <div class="im-page--chat-header-in">
                        <div class="im-page--toolsw">
                            <div class="im-page--back">
                                <a href="/di" class="im-page--back-btn _im_page_back">Назад </a>
                            </div>
                            <div class="im-page--aside">
                                <button type="button" aria-label="Отметить как отвеченный" data-type="answer" class="_im_header_icon im-page--header-icon im-page--header-icon_answer "></button>
                                <button type="button" aria-label="Отметить как важное" data-type="star" class="_im_header_icon im-page--header-icon im-page--header-icon_star "></button>
                                <button type="button" aria-label="Поиск по беседе" data-type="search" class="_im_header_icon im-page--header-icon im-page--header-icon_search im-page-header-icon_search-shown" style="display: inline-block;"></button>
                                <div class="im-page--header-more _im_dialog_action_wrapper">
                                    <div class="ui_actions_menu_wrap _ui_menu_wrap ">
                                        <div class="ui_actions_menu_icons" tabindex="0" aria-label="Действия"
                                             role="button">
                                        </div>
                                    </div>
                                </div>
                                <div class="im-page--aside-photo">
                                    <a href="/id{{ to_user.pk }}" class="_im_header_link" target="_blank">
                                    <div class="nim-peer  nim-peer_smaller">
                                        <div class="nim-peer--photo-w">
                                            <div class="nim-peer--photo">
                                                <div class="im_grid">
                                                    <img src="{{ to_user.main_photo.url }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a></div>
                            </div>
                            <div class="im-page--title-wrapper">
                                <div class="im-page--title ">
                                    <span class="im-page--title-main" title="{{ to_user.get_full_name }}">
                                        <span class="im-page--title-main-in">
                                            <a href="/id{{ to_user.pk }}" target="_blank" class="im-page--title-main-inner _im_page_peer_name">
                                                {{ to_user.get_full_name }}
                                            </a>
                                            <span class="im-page--title-main-verified _im_chat_verified"></span>
                                        </span>
                                    </span>
                                    <span class="im-page--title-meta _im_page_peer_online">
                                        был в сети 35 минут назад
                                        <b class="mob_onl im_status_mob_onl"></b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="im-page--chat-body">
                    <div class="im-page--chat-body-wrap _chat_body_wrap">
                        <div class="im-page--chat-body-abs _im_chat_body_abs" style="min-height: 686px; height: 686px; position: relative; top: 0px;">
                            <div class="im-page--chat-body-wrap-inner-2">
                                <div class="im-page--chat-body-wrap-inner _im_peer_history_w" style="border-bottom-width: 61px;">
                                    <div class="_im_peer_history im-page-chat-contain" aria-live="polite" aria-relevant="additions">
                                        <ul id="massages_list" class="ui_clean_list im-mess-stack--mess _im_stack_messages">
                                                {% for massage in massages %}
                                                    <li id="massage_element" class="im-mess im_in _im_mess _im_mess_9085">
                                                        <div class="im-mess-stack _im_mess_stack " data-peer="483686337" data-admin="">
                                                            <div class="im-mess-stack--photo">
                                                                <div class="nim-peer nim-peer_small fl_l">
                                                                    <div class="nim-peer--photo-w">
                                                                        <div class="nim-peer--photo">
                                                                            <a target="_blank" class="im_grid" href="/id{{ massage.author.pk }} ">
                                                                                <img alt="{{ massage.author.first_name }}" src="{{ massage.author.main_photo.url }}">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="im-mess-stack--content">
                                                                <div class="im-mess-stack--info">
                                                                    <div class="im-mess-stack--pname">
                                                                        <a href="/id{{ massage.author.pk }}" class="im-mess-stack--lnk" title="" target="_blank">{{ massage.author.first_name }}</a>
                                                                        <span class="im-mess-stack--tools">
                                                                            <a href="/im?sel=483686337&amp;msgid=9085" class="_im_mess_link">
                                                                                {{ massage.pub_date.time  }}
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <ul class="ui_clean_list im-mess-stack--mess _im_stack_messages">
                                                                    <li class="im-mess im_in _im_mess _im_mess_9085"
                                                                        aria-hidden="false" data-ts="1549631228" data-msgid="9085" data-peer="483686337">
                                                                        <div class="im-mess--actions">
                                                                            <span role="link" aria-label="Переслать" class="im-mess--forward _im_mess_forward"></span>
                                                                            <span role="link" aria-label="Ответить" class="im-mess--reply _im_mess_reply"></span>
                                                                            <span role="link" aria-label="Редактировать" class="im-mess--edit _im_mess_edit"></span>
                                                                            <span role="link" aria-label="Важное сообщение" class="im-mess--fav _im_mess_fav"></span>
                                                                        </div>
                                                                        <div class="im-mess--check fl_l"></div>
                                                                        <div class="im-mess--text wall_module _im_log_body">
                                                                            {{ massage.massage }}
                                                                        </div>
                                                                        <span tabindex="0" role="link" aria-label="Выделить сообщение" class="blind_label im-mess--blind-select _im_mess_blind_label_select"></span>
                                                                        <span class="blind_label im-mess--blind-read _im_mess_blind_unread_marker"></span>
                                                                        <span class="im-mess--marker _im_mess_marker"></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="im-page--fixer _im_typer_c"></div>
                                    <div class="im-page--error _im_error" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="im-page--chat-input _im_chat_input_w" id="im-page--chat-input _im_chat_input_w">
                    <div class="im-to-end _im_to_end">
                        <div class="im-to-end--label _im_to_end_label">Перейти в конец истории</div>
                    </div>
                    <div class="im-chat-input clear_fix im-chat-input_classic _im_chat_input_parent">
                        <div class="im-chat-input--error">
                            <span class="_im_chat_input_error"></span>
                        </div>
                        <div class="im-chat-input--editing-head">
                            <span class="im-mess--cancel-edit _im_cancel_edit fl_r"></span>
                            Редактирование
                            <a class="_im_edit_focus_cur">сообщения</a>
                        </div>
                        <div class="im-replied-container">
                            <div class="im-replied-container--content _im_replied_content"></div>
                            <span class="im-replied-container--remove _im_remove_replied"></span>
                        </div>
                        <div class="im-chat-input--textarea fl_l _im_text_input _emoji_field_wrap _voice_field_wrap">
                            <div class="im-chat-input--txt-wrap _im_text_wrap">
                                <div class="im_chat-input--buttons">
                                    <div class="im_chat-input--templates _message_templates_container"></div>
                                    <button type="button" class="im_chat-input--keyboard-button im_chat-input--keyboard-button_hidden _im_keyboard_button ">
                                        <span class="im_chat-input--keyboard-button-icon"></span>
                                    </button>
                                    <div class="im-chat-input--attach">
                                        <input aria-label="Прикрепить фото или видео" tabindex="0" id="im_full_upload" class="im-chat-input--attach-file" type="file" size="28" multiple="true" accept="image/jpeg,image/png,image/gif,video/*" name="media">
                                        <label for="im_full_upload" class="im-chat-input--attach-label"></label>
                                    </div>
                                    <div class="emoji_smile_wrap im-chat-input--smile-wrap _emoji_wrap">
                                        <div class="emoji_smile _emoji_btn">
                                            <div class="emoji_smile_icon_vector emoji_smile_icon"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_im_media_selector im-chat-input--selector">
                                    <div class="media_selector clear_fix">
                                        <div class="ms_items_more_wrap ms_items_more_wrap_vector to_up">
                                            <a class="ms_item_more" tabindex="0" role="button">
                                                <span class="ms_item_more_label">
                                                    <span class="blind_label">Ещё</span>
                                                </span>
                                            </a>
                                            <div class="ms_items_more_helper">
                                                <div class="ms_items_more _more_items"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="im_editable im-chat-input--text _im_text" tabindex="0" contenteditable="true" id="im_editable0" role="textbox" aria-multiline="true"></div>
                                <div class="composer_wdd clear_fix  wdd_toup" id="im_editable0_composer_wdd" style="">
                                    <div class="wdd_lwrap" style="display: none; width: auto;">
                                        <div class="wdd_list"></div>
                                    </div>
                                    <input type="hidden" id="im_editable0_composer_wdd_term" value="false">
                                </div>
                                <div class="placeholder" id="placeholder" style="border: 0;">
                                    <div class="ph_input">
                                        <div class="ph_content">Напишите сообщение…</div>
                                    </div>
                                </div>
                                <button type="button" class="im-send-btn im-send-btn im-chat-input--send _im_send im-send-btn_send" id="im-send-btn_send" aria-label="Голосовое сообщение"></button>
                            </div>
                            <div class="im-chat-input--scroll">
                                <div class="_im_media_fwd im-chat-input--fwd"></div>
                                <div class="im-chat-input--keyboard-container" id="_im_keyboard_container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="im-chat-history-resize _im_chat_resize" style="height: 0px;">
                        <div class="im-chat-history-resize--track _im_chat_resize_track"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}{% block javascript_code %}
    <script src="{% static 'js/send_massage.js' %}"></script>
{% endblock %}