<div class="page_block page_photo" style="margin-top: 0px;">
    <div class="owner_photo_wrap actions_with_effects" id="owner_photo_wrap">
        <div class="page_avatar_wrap no_stickers_1april" id="page_avatar_wrap">
            <aside aria-label="Фотография">
                <div id="page_avatar" class="page_avatar">
                    <a id="profile_photo_link" href="{{ user.main_photo.url }}">
                        <img class="page_avatar_img" id="main_photo" src="{{ user.main_photo.url }}"
                             alt="{{ user.get_full_name }}" onclick="photo_for_main_photo(this.id)" width="200" height="258">
                    </a>
                </div>
            </aside>
        </div>
    </div>
    {% if not user.is_another_user %}
        <aside aria-label="Действия со страницей">
            <div class="profile_actions">
                <div class="page_actions_wide clear_fix no_actions edit">
                    <div class="page_action_left fl_l">
                        <a id="profile_edit_act" href="/edit"
                           class="flat_button button_wide secondary">Редактировать</a>
                    </div>
                </div>
            </div>
        </aside>
    {% else %}
        {% if friendship_request.from_user == main_user %}
            {% if not friendship_request.is_accept %}
                <button type="submit" class="vk-button btn">Запрос отправлен</button>
            {% else %}
                <a href="{% url 'im' %}?sel={{ user.pk }}" class="flat_button button_wide">Отправить сообщение</a>
            {% endif %}
        {% elif friendship_request.from_user == user %}
            {% if not friendship_request.is_accept %}
                <a href="/friendship{{ user.pk }}/accept" class="flat_button button_wide">Принять запрос</a>
            {% else %}
                <a href="{% url 'im' %}?sel={{ user.pk }}" class="flat_button button_wide">Отправить сообщение</a>
            {% endif %}
        {% else %}
            <a href="/friendship{{ user.pk }}/request" class="flat_button button_wide">Добавить в друзья</a>
        {% endif %}
    {% endif %}
</div>