<div class="wall_module" id="profile_wall">
    <div class="page_block">
        <h2 class="page_block_h2 ">
            <ul class="ui_tabs ui_tabs_with_progress" id="wall_tabs" data-inited="1">
                <li class="_wall_tab_all">
                    <a href="#" class="ui_tab ui_tab_sel">
                        Все записи
                    </a>
                </li>
            </ul>
        </h2>
    </div>
    <div id="page_wall_posts" class="wall_posts all mark_top ">
        {% for post in posts %}
            <div id="post" class="_post post page_block all own deep_active">
                <div class="_post_content">
                    <div class="post_header">
                        <a class="post_image" href="/id{{ main_user.pk }}">
                            <img src="{{ post.author.main_photo.url }}" width="50" height="50" class="post_img">
                        </a>
                        <div class="post_header_info">
                            <h5 class="post_author">
                                <a class="author" href="/id{{ post.author.pk }}">{{ post.author.get_full_name }}</a>
                            </h5>
                            <div class="post_date">
                                <span class="rel_date">
                                    {{ post.pub_date }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="post_content">
                        <div class="post_info">
                            <div class="wall_text">
                                <div id="wpt483686337_21" class="wall_post_cont _wall_post_cont">
                                    <div class="wall_post_text">{{ post.content }}</div>
                                    {% if post.images.all %}
                                        {% for image in post.images.all %}
                                            <div class="page_post_sized_thumbs  clear_fix"
                                                 style="width: 382px; height: 510px;">
                                                <a href="{{ image.photo.url }}"
                                                   style="width: 382px; height: 510px; background-image: url({{ image.photo.url }});"
                                                   class="page_post_thumb_wrap image_cover  page_post_thumb_last_column page_post_thumb_last_row"></a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% if post.audios.all %}
                                        <div class="wall_audio_rows _wall_audio_rows">
                                            <div class="audio_row audio_row_with_cover _audio_row _audio_row_2000201689_456242875 audio_can_add audio_has_thumb audio_row2">
                                                <div class="audio_row_content _audio_row_content">
                                                    <button class="blind_label _audio_row__play_btn"
                                                            aria-label="Воспроизвести "></button>
                                                    <div class="audio_row__cover"
                                                         style="background-image:url(https://pp.userapi.com/c840620/v840620741/44f59/3OatC1_aDrE.jpg)"></div>
                                                    <div class="audio_row__cover_back _audio_row__cover_back"></div>
                                                    <div class="audio_row__cover_icon _audio_row__cover_icon"></div>
                                                    <div class="audio_row__counter"></div>
                                                    <div class="audio_row__play_btn"></div>
                                                    <div class="audio_row__inner">
                                                        <div class="audio_row__performer_title">
                                                            <div class="audio_row__performers">
                                                                <a href="/audio?performer=1&amp;q=%D0%B5%D0%B6%D0%B5%D0%BC%D0%B5%D1%81%D1%8F%D1%87%D0%BD%D1%8B%D0%B5">ежемесячные</a>
                                                            </div>
                                                            <div class="audio_row__title _audio_row__title">
                                                                <span class="audio_row__title_inner _audio_row__title_inner">печенюшка</span>
                                                                <span class="audio_row__title_inner_subtitle _audio_row__title_inner_subtitle"></span>
                                                            </div>
                                                        </div>
                                                        <div class="audio_row__info _audio_row__info">
                                                            <div class="audio_row__duration audio_row__duration-s _audio_row__duration">
                                                                2:45
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="like_wrap _like_wall483686337_21 ">
                                <div class="like_cont ">
                                    <div class="like_btns">
                                        <a class="like_btn like _like empty"
                                           data-count="0" href="#" title="Нравится">
                                            <div class="like_button_icon"></div>
                                            <div class="like_button_label"></div>
                                            <div class="like_button_count"></div>
                                            <span class="blind_label">Нравится</span>
                                        </a>
                                    </div>
                                    <div class="like_views _views" onmouseover="Likes.updateViews('wall483686337_18');"
                                         data-count="27" title="27 просмотров">27
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>