{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="//unpkg.com/jscroll/dist/jquery.jscroll.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title%}{%endblock%}</title>
</head>
<body style="background: #edeef0">
<div class="page">
    {% include 'account/header.html' %}
    {% if main_user.is_authenticated %}
        <div id="page_layout">
            {% include 'account/side_bar.html' %}
            <div id="page_body" class="fl_r" style="width: 795px;">
                <div id="header_wrap2">
                    <div id="header_wrap1">
                        <div id="header" style="display: none">
                            <h1 id="title"></h1>
                        </div>
                    </div>
                </div>
                <div id="wrap_between"></div>
                <div id="wrap3">
                    <div id="wrap2">
                         <div id="wrap1">
                            <div id="content" class="" style="">
                                <div id="profile" class="profile_content" style="">
                                    <div class="wide_column_right" style="">
                                        {%block content%}
                                        {%endblock%}
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% block login %}
        {% endblock %}
    {% endif %}
    {% block edit %}
    {% endblock %}
</div>
</body>
    {% block javascript_code %}
    {% endblock %}
    <script src="{% static 'js/update_massages_list.js' %}"></script>
</html>