{% extends 'base_page.html' %}

{%block title%}
    Фотографии {{user.get_full_name}}
{% endblock %}

{% block content %}
<div class="block-content" id="photos_all_block">
    <h2 class="page_block_h2">
        <div class="page_block_header clear_fix">
            <div class="page_block_header_extra _header_extra">
                <div class="upload_btn_wrap">
                    {%  if user == main_user %}
                    <div id="photos_upload_area_wrap" style="position: relative">
                        <form action="{% url 'albums' pk=main_user.pk%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ photo_form.photo }}
                            <button class="flat_button addpost_button" type="submit">Загрузить</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="page_block_header_extra_left _header_extra_left"></div>
            <div class="page_block_header_extra _header_extra"></div>
            <div class="page_block_header_inner _header_inner">
                <div class="ui_crumb">Мои фотографии<span class="ui_crumb_count">{{count_photo}}</span></div>
            </div>
        </div>
    </h2>
    <div class="photos_container_pretty_grid">
        <div id="photos_container_photos" class="photos_container clear_fix">
            <div class="photos_period_delimiter photos_period_delimiter_2019" data-year="2019">2019 год</div>
            <div class="photos_row_wrap" style="height: 230px;">
                {% for i in all_photo%}
                    <a class="photos_row " href="?z=photo{{ user.pk }}-{{ i.pk }}" id="{{ i.pk }}" onclick="photo_for_groups(this.id)"
                        style="background-image: url({{i.photo.url}}); width: 200px; height: 200px"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}